:root {
    --primary-dark: black;
}

html {
    background-color: whitesmoke;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    /* background-color: var(--secondary-light); */
    box-shadow: lightgray 0px 3px 8px;
    margin-left: 2rem;
}

.grid-cell {
    user-select: none;
    /* must include 'solid' to work */
    background-color: white;
    border: 0.5px solid whitesmoke;
}

.hover {
    background-color: black;
}

footer {
    margin-top: 3rem;
}

.fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}