:root {
    --primary-dark: black;
    --primary-light: white;
    --secondary-light: whitesmoke;
}

html {
    background-color: var(--secondary-light);
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    /* background-color: var(--secondary-light); */
    box-shadow: lightgray 0px 3px 8px;
    margin-left: 2rem;
}

.grid-cell {
    user-select: none;
    /* must include 'solid' to work */
    background-color: var(--primary-light);
    border: 0.5px solid var(--secondary-light);
}

.hover {
    background-color: var(--primary-dark);
}

button {
    background-color: rgb(230, 230, 230);
    border: 0;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
}

.button-on {
    background-color: var(--primary-dark);
    color: var(--secondary-light);
}

footer {
    margin-top: 3rem;
}

.fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}